<div class="row">
    <div class="col-md-12 mb-2 m-auto">
      <div class="portfolio section-bg" itemprop="ingredients"><ul>
     <li>2 xícaras (chá) farinha de trigo</li>
     <li>2 xícaras (chá) açúcar</li>
     <li>1 xícara (chá) leite</li>
     <li>2 ovos</li>
     <li>4 colheres (sopa) óleo</li>
     <li>1 pitada de sal</li>
     <li>1 colher (sopa) fermento em pó</li>
     <li>essência de baunilha a gosto (opcional)</li>
    </ul>
      </div>
    </div>
</div>