<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
 <div>
   <h1  class="rounded mx-auto d-block" >Bolo Simples para Café</h1>
 </div>
  <div class="card text-white bg-success mb-3" style="max-width: 15rem;">
    <div class="card-header">Tempo de preparo:</div>
      <div class="card-body">
       <h5 class="card-title">48 minutos</h5>
       <p class="card-text"></p>
    </div>
  </div>
   <h3  >Ingredientes</h3>
  <div class="portfolio section-bg" itemprop="ingredients"><ul>
     <li>2 xícaras (chá) farinha de trigo</li>
     <li>2 xícaras (chá) açúcar</li>
     <li>1 xícara (chá) leite</li>
     <li>2 ovos</li>
     <li>4 colheres (sopa) óleo</li>
     <li>1 pitada de sal</li>
     <li>1 colher (sopa) fermento em pó</li>
     <li>essência de baunilha a gosto (opcional)</li>
    </ul>
  </div>
  
 <h3 class="portfolio section-bg" > Modo de Preparo</h3>
 <div class="itensReceita e-instructions">
    <ul>
      <li>Separe o fermento</li>
      <li>Na batedeira bata os demais ingredientes por aproximadamente 5 minutos</li>
      <li>Retire a tigela da batedeira, junte o fermento e misture cuidadosamente com uma colher</li>
      <li>Despeje a massa do bolo em uma forma de cone untada e enfarinhada</li>
      <li>Leve ao forno preaquecido a 180ºC por aproximadamente 35 minutos ou até que ao espetar um palito ele saia limpo</li>
    </ul>
  </div>
  <hr>

     <div class="col-lg-6" data-aos="fade-right">
       <img src="/img/bolo-simples.jpg" class="rounded mx-auto d-block" alt="">   
     </div>


  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th> 
      <th scope="col">Tabela Nutricional </th>
      <th scope="col">Valor Nutricional </th> 
      <th scope="col">% VD (*)</th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Calorias (valor energético)</td>
      <td>250 Kcal = 1050 Kj</td>
      <td>13</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Carboidratos líquidos</td>
      <td>32g</td>
      <td>11</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Proteínas</td>
      <td>3.0g</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
 
   <br><br>
     
<p></p><p></p> 
<label id="p113"><a href="/users/signup">Sugestão</a>:  </label>
<p></p> 
<label id="p113">Experimente novas receita:  </label>
<a target="_blank" href="https://www.tudogostoso.com.br/receita/85429-bolo-de-laranja-de-liquidificador.html">Bolo de Laranja</a>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 </body>

</html>
